@media screen and (max-width:1024px) {
.interface >.track__durations{
    width: 60%;
}
}

@media screen and (max-width:768px) {

    .interface> #controls{
        width: 140px;
        margin: 0px;
    }

    .link__user__authorization{
       
margin-bottom: 5px;
    }

    .container > .user{

       width: 36%;
       }

.track__img{
    display: none;
}

.track__play{
    margin-right: 10px;
}

   
   .content__right{
       display: none;
   }


  .content__center> .content__item{
    padding: 31px 10px 15px 10px
   }


.track__durations >  .durations{
    width: 100%;
       position: absolute;
       bottom: 60px;
       left: 0px;
   }

   .track__durations > .volume{
    margin: 0px;
}

.media__player__track__info{
    display: none;
}

.container > .player{
    width: 100%;
}


.container > .search-form{
    left: 0;
}
  

    
}

@media screen and (max-width:425px) {

.interface>  #controls{
    display: flex;
    justify-content: end;
    width: 140%;
 }
   .track__durations > .audio-track{
        position: absolute;
        width: 100%;
        margin: 0px;
        bottom: 60px;
        left: 0px;
    }

    .search-form{
        margin-bottom: 20px;
    }

    .container > .sidebar{
        width:100%;
        
    }

    .container >.content__center{
      width: 100%;
    }

    .container{
        flex-direction: column;
    }

    .sidebar__list{
        display: flex;
    flex-direction: column;
    
    }

    .logo{
        margin:25px 120px 0px 0px;
    }

    .container > .user{
       width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .sidebar__list> .sidebar__item{
        margin: 0px 0px 10px;
    }

    .track__durations > .volume , .track__time{
        display: none;
        
    }

    .player{
        display: flex;
        justify-content: center;
    }
  



}




@media screen  and (max-width:320px) {

    .content__item{
        padding: 31px 9px 15px 9px;
    }


    .track__title{
        width: 82px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }

    .track__desc{
        width: 82px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }

    .track__info__r {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: baseline;
    }



}

